
*{
	margin: 0px;
	padding: 0px;
	border-sizing: border-box;
	font-family: 'poppins', sans-serif;
}


/*navigation*/
nav{
	height: 75px;
	background-color: #ffffff;
	line-heigt: 70px;
	padding: 0px 100px;
	postion: fixed;
	z-index: 1;
}
nav li{
	margin-top:25px;
	padding-right: 25px;
}
nav ul li{
	display: inline-block;
	
}
nav ul li a{
	color:black;
	text-decoration: none;
	font-seize: 18px;
	text-transform: uppercase;
	padding: 0px 32px;
}
.banner{
	background-image:url(images/fond.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	height: 100vh;

	
}
.content-banner{
	   text-align:center;
}

.un{
	 width:250px;
	 font-size:16px;
	 color: white;
	 margin-bottom:25px;
	 padding:15px 15px 15px 15px;
	 background-color:gray;	
	 margin-left:5%;
}
 .para1{
    float:left;
 	 font-weight:bold;
 	 color:white;

 }

 .para{
 	margin-top:10px;
	margin-left:500px;
	margin-right:150px;
	margin-bottom:100px;
 }
 .img{
 	border-radius:30px;
 	margin-top: 30vh;

 }
 /*fin navigation*/

 /*debut section1*/
.imageglob{
	display:flex;
	margin-top: 100px;
	margin-left:200px;
	padding-bottom: 50px;
}
 .img1{
 	padding:20px;
   border: 2px solid;
 	border-radius:50px ;
 	border-color: green;
 	padding-left: 20px;
 	margin: 30px;
 }

 .matiere1{
 	text-align: center;
 	margin-right: 50px;
 }
 /*fin section1*/ 
/*debut section2*/
#section2{
	background-color:#E1DCDC;
	background-repeat: no-repeat;
	height:30vh;
	padding-bottom:80px;

}
h2{
	text-align: center;
   padding-top:30px;
   padding-bottom: 80px;
}


.deux{
    display:inline-block;
      padding: 0px 100px;




}
/*fin section2*/
/*debut section3*/
 #section3{
       
 }

 .conteneur,.conteneur2{
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;

 }


 .img2{
  
   height:250px;
   width: 350px;
 }
 /*fin section3*/
/*debut section4*/
.text{
	text-align: center;
}
.deux{

	text-align: center;
   padding-top:30px;
   padding-bottom: 80px;
}


  
 .para2 {
        font-size: 20px;
        margin-top: 10px;
    }
 
/* modifications */
.bars{
	max-width:800px;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
}

.skills{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.parent{
	width: 200px;
	height: 5px;
	background-color: red
}

[class *= "child"]{
	height: 5px;
	background-color:#98BF87;
}

.child-1{
	width:100%;
}

.child-2{
	width:80%;
}

.child-3{
	width:90%;
}

.child-4{
	width:70%;
}

    
    .skill {
    	
        background-color:#98BF87;
        padding:1%;
        text-align:right;
        font-size:20px;
        border-radius:10px;
    }
  
    
    /*fin section4*/

    /*debut section5*/


 #section5{
	background-color:#98BF87;
	background-repeat:no-repeat;
	margin-top:50px;
}

.text1{

	text-align: center;
}

.deu ,.para3{
	color: white;
}
.deu{
	text-align: center;
   padding-top:30px;
   padding-bottom:80px;
}

.conteneur3{

	display: flex;
    padding-bottom:100px;
    margin-top: 100px;
    margin-left:150px;

}
.img3{
	border:30px solid none;
	background-color: #604B4B;
}
.img4{
	border:30px solid none;
	background-color: #CD5959;
	margin-left:30px;
}

.img5{
	border:30px solid none;
	background-color:#B9CBB2;
	margin-left:30px;
}
.img6{
	border:30px solid none;
	background-color:#EB9473;
	margin-left:30px;
}


.nom1{
	text-align: center;
	border:15px solid none;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nom2{
	text-align: center;
	border:15px solid none;
	background-color: white;
	margin-left:30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nom3{
	text-align: center;
	border:15px solid none;
	background-color: white;
	margin-left:30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nom4{
	text-align: center;
	border:15px solid none;
	background-color: white;
	margin-left:30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*fin section5*/

/*debut section6*/

.end{
	 text-align: center;
	 padding-bottom: 80px;
}
.trois{
    padding-top: 100px;
}
.quatre{
      padding-top: 50px;
      font-weight:bold;
 	   color: black;
}

footer{
	background-color: #E1DCDC;
}
.contenu-footer{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 50px 10px 100px;
}
.fin1,.fin2,.fin3{

	padding-bottom:20px;
	padding-left:100px ;
}
.zero{
	text-align: center;
	padding-bottom:40px;
	padding-top: 20px;
}

h4{
	text-align: center;
	padding-top:80px;
}
.suka{
	padding-top:100px;
	text-align: center;
	font-size: 15px;
	padding-bottom: 25px;
}

